# Recommendations with IBM



## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [2]:
# Show df_content to get an idea of the data
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [3]:
df.shape

(45993, 3)

In [4]:
# FOUND : Null entries in email
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45993 entries, 0 to 45992
Data columns (total 3 columns):
article_id    45993 non-null float64
title         45993 non-null object
email         45976 non-null object
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [5]:
df[df.email.isnull() == True]

       article_id                                              title email
25131      1016.0  why you should master r (even if it might even...   NaN
29758      1393.0                       the nurse assignment problem   NaN
29759        20.0  working interactively with rstudio and noteboo...   NaN
29760      1174.0      breast cancer wisconsin (diagnostic) data set   NaN
29761        62.0  data visualization: the importance of excludin...   NaN
35264       224.0                   using apply, sapply, lapply in r   NaN
35276       961.0                     beyond parallelize and collect   NaN
35277       268.0                      sector correlations shiny app   NaN
35278       268.0                      sector correlations shiny app   NaN
35279       268.0                      sector correlations shiny app   NaN
35280       268.0                      sector correlations shiny app   NaN
35281       415.0  using machine learning to predict value of hom...   NaN
35282       846.0        pearson correlation aggregation on sparksql   NaN
35283       268.0                      sector correlations shiny app   NaN
35284       162.0  an introduction to stock market data analysis ...   NaN
42749       647.0                 getting started with apache mahout   NaN
42750       965.0  data visualization playbook: revisiting the ba...   NaN

In [6]:
# Top 5 articles(most interacted with)
df.article_id.value_counts().sort_values(ascending = False).head()

1429.0    937
1330.0    927
1431.0    671
1427.0    643
1364.0    627
Name: article_id, dtype: int64

In [7]:
# How many times different users have interacted with different articles
user_article = df.groupby(by = ['email','article_id']).count()
user_article

                                                     title
email                                    article_id
0000b6387a0366322d7fbfc6434af145adf7fed1 43.0            2
                                         124.0           1
                                         173.0           1
                                         288.0           1
                                         349.0           1
                                         618.0           1
                                         732.0           1
                                         1162.0          1
                                         1232.0          1
                                         1314.0          1
                                         1337.0          1
                                         1354.0          1
001055fc0bb67f71e8fa17002342b256a30254cd 124.0           1
                                         254.0           1
                                         390.0           1
                                         1386.0          1
00148e4911c7e04eeff8def7bbbdaf1c59c2c621 258.0           1
                                         932.0           1
                                         1386.0          1
001a852ecbd6cc12ab77a785efa137b2646505fe 232.0           1
                                         349.0           1
                                         593.0           1
                                         957.0           1
                                         1364.0          2
001fc95b90da5c3cb12c501d201a915e4f093290 379.0           1
                                         1364.0          1
0042719415c4fca7d30bd2d4e9d17c5fc570de13 20.0            1
                                         1060.0          1
00772abe2d0b269b2336fc27f0f4d7cb1d2b65d7 732.0           1
                                         1427.0          2
...                                                    ...
ffe3d0543c9046d35c2ee3724ea9d774dff98a32 617.0           1
                                         701.0           1
                                         727.0           1
                                         782.0           1
                                         784.0           1
                                         878.0           1
                                         943.0           1
                                         986.0           1
                                         1047.0          1
                                         1162.0          1
                                         1165.0          1
                                         1314.0          2
                                         1360.0          2
                                         1386.0          1
                                         1422.0          3
                                         1425.0          1
                                         1427.0          1
fff9fc3ec67bd18ed57a34ed1e67410942c4cd81 116.0           1
                                         232.0           1
                                         268.0           2
                                         525.0           1
                                         684.0           3
                                         962.0           1
                                         1431.0          1
fffb93a166547448a0ff0232558118d59395fecd 329.0           1
                                         981.0           1
                                         1304.0          1
                                         1305.0          8
                                         1430.0          1
                                         1437.0          1

[33669 rows x 1 columns]

In [8]:
# maximum times IDs interacted with particular articles 
user_article.sort_values(by = 'title', ascending = False).head()

                                                     title
email                                    article_id
1588af175b283915f597fc4719cbb2c8621c4fc2 1170.0         42
363cb98a087e4a3eb6890fd1af2d418116f85ff8 1170.0         41
2b6c0f514c2f2b04ad3c4583407dccd0810469ee 1429.0         35
77959baaa9895a7e2bdc9297f8b27c1b6f2cb52a 1429.0         35
b96a4f2e92d8572034b1e9b28f9ac673765cd074 1429.0         25

In [9]:
df.groupby(by = 'email').count().median()

article_id    3.0
title         3.0
dtype: float64

In [10]:
df.groupby(by= 'email').count().max()

article_id    364
title         364
dtype: int64

In [11]:
# Fill in the median and maximum number of user_article interactios below

median_val = 3 # 50% of individuals interact with ____ number of articles or fewer.
max_views_by_user = 364 # The maximum number of user-article interactions by any 1 user is ______.

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [12]:
# Find and explore duplicate articles
print(df_content.shape)
df_content.info()
# There are some null entries in doc_body and doc_description. Lets keep that in our minds.

(1056, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 5 columns):
doc_body           1042 non-null object
doc_description    1053 non-null object
doc_full_name      1056 non-null object
doc_status         1056 non-null object
article_id         1056 non-null int64
dtypes: int64(1), object(4)
memory usage: 41.3+ KB

In [13]:
len(df_content.article_id.unique())

1051

In [14]:
df_content = df_content[df_content.duplicated(subset = 'article_id', keep = 'first') == False]

In [15]:
df_content.shape

(1051, 5)

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [16]:
#a
len(df.article_id.unique())

714

In [17]:
#b 
df_content.shape[0]

1051

In [18]:
#c
len(df.email.unique())
# But the above also counts the null value !!!! (IMP)
df[df.email.isnull() == False].email.unique().shape[0]

5148

In [19]:
#d
df.shape[0]

45993

In [20]:
unique_articles = 714 # The number of unique articles that have at least one interaction
total_articles = 1051 # The number of unique articles on the IBM platform
unique_users = 5148 # The number of unique users
user_article_interactions = 45993 # The number of user-article interactions

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [21]:
df.article_id.value_counts().sort_values(ascending = False).head(1)

1429.0    937
Name: article_id, dtype: int64

In [22]:
most_viewed_article_id = '1429.0' # The most viewed article in the dataset as a string with one value following the decimal 
max_views = 937 # The most viewed article in the dataset was viewed how many times?

In [23]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column
# Here cter will act as the user serial no. or user id starting from 1 

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [24]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [25]:
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [26]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    top_articles = df.article_id.value_counts(ascending = False).index.tolist()[:n]
    top_articles = df[df.article_id.isin(top_articles)].title.unique().tolist()
    
    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article ids 
    
    '''
    top_articles = df.article_id.value_counts(ascending = False).index.tolist()[:n]
    top_articles = [str(i) for i in top_articles]
    return top_articles # Return the top article ids

In [27]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['healthcare python streaming application demo', 'use deep learning for image classification', 'apache spark lab, part 1: basic concepts', 'predicting churn with the spss random tree algorithm', 'analyze energy consumption in buildings', 'visualize car data with brunel', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'gosales transactions for logistic regression model', 'insights from new york car accident reports', 'finding optimal locations of new store using decision optimization']
['1429.0', '1330.0', '1431.0', '1427.0', '1364.0', '1314.0', '1293.0', '1170.0', '1162.0', '1304.0']

In [28]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [29]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    count_df = df.groupby(['user_id','article_id']).count()
    for i in range(count_df.title.shape[0]):
        if count_df.title.iloc[i] > 0:
            count_df.title.iloc[i] = 1
    user_item = count_df.title.unstack()
    user_item.fillna(0,inplace = True)
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [30]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [31]:
def find_similar_users(user_id, user_item=user_item):
    '''
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    '''
    # compute similarity of each user to the provided user
    dot_prod = pd.DataFrame(np.dot(user_item.loc[user_id,:], user_item.T).T, index = user_item.index,columns = ['A'])
    # sort by similarity
    sorted_dot_prod = dot_prod.sort_values(by = 'A',ascending = False)
    # create list of just the ids
    similar_users = sorted_dot_prod.index.tolist()
    # remove the own user's id
    similar_users.remove(user_id)
    return similar_users # return a list of the users in order from most to least similar

In [32]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933, 23, 3782, 203, 4459, 3870, 131, 4201, 46, 5041]
The 5 most similar users to user 3933 are: [1, 23, 3782, 203, 4459]
The 3 most similar users to user 46 are: [4201, 3782, 23]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [33]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    article_names = df[df.article_id.isin(article_ids)].title.unique().tolist()
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    Provides a list of the article_ids and article titles that have been seen by a user
    
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    '''
    
    article_ids = user_item.loc[user_id,:][user_item.loc[user_id,:] > 0].index.tolist()
    article_ids = [str(i) for i in article_ids]
    article_names = get_article_names(article_ids, df)
    
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user in the form of article ids
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    recs = []
    
    seen_article_ids, seen_article_names = get_user_articles(user_id, user_item = user_item)
    similar_users = find_similar_users(user_id, user_item = user_item)
    
    for user in similar_users:
        article_ids, article_names = get_user_articles(user, user_item = user_item)
        for i in article_ids:
            if len(recs) < m:
                if i not in seen_article_ids:
                    seen_article_ids.append(i)
                    recs.append(i)
            else:
                return recs # return your recommendations for this user_id

In [34]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['got zip code data? prep it for analytics. – ibm watson data lab – medium',
 'timeseries data analysis of iot events by using jupyter notebook',
 'graph-based machine learning',
 'using brunel in ipython/jupyter notebooks',
 'experience iot with coursera',
 'the 3 kinds of context: machine learning and the art of the frame',
 'deep forest: towards an alternative to deep neural networks',
 'this week in data science (april 18, 2017)',
 'higher-order logistic regression for large datasets',
 'using machine learning to predict parking difficulty']

In [35]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [36]:
def order(article_ids):
    '''
    sort the article ids in order of most interacted with articles to least interated with
    
    INPUT:
    article_ids- list of article ids
    
    OUTPUT:
    article_ids - (list) sorted article ids by most interacted with articles
    article_names - (list) sorted article names corresponding to above
    '''
    article_ids = [float(i) for i in article_ids]
    article_matrix = user_item.loc[:, article_ids]
    article_interactions = article_matrix.sum(axis = 0)
    article_interactions.sort_values(inplace = True)
    
    return article_interactions.index.tolist(), get_article_names(article_interactions.index.tolist())

In [37]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    sort the neighbors_df by the similarity and then by number of interactions where highest of each is higher in the 
    dataframe
    
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user 
     
    '''
    user_vector = user_item.loc[user_id, :]
    similarity = np.dot(user_vector, user_item.T).T.tolist()
    num_articles = df.user_id.value_counts().sort_index().values.tolist()
    neighbors_id = sorted(df.user_id.unique().tolist())
    neighbors_df = pd.DataFrame({'neighbor_id': neighbors_id, 'similarity':similarity, 'num_articles':num_articles})
    neighbors_df.sort_values(by = ['similarity', 'num_articles'], ascending = [False,False], inplace = True)
    return neighbors_df[['neighbor_id', 'similarity', 'num_articles' ]].reset_index().drop('index', axis = 1).iloc[1:,:] # Return the dataframe specified in the doc_string


def user_user_recs_part2(user_id, m=10):
    '''
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    recs = []
    rec_names = []
    
    neighbors_df = get_top_sorted_users(user_id)
    seen_article_ids, seen_article_names = get_user_articles(user_id, user_item = user_item)
    
    for _id in neighbors_df.neighbor_id:
        article_ids, _ = get_user_articles(_id, user_item = user_item)
        article_ids, article_names = order(article_ids)
        for i in article_ids:
            if len(recs) < m:
                if i not in seen_article_ids:
                    seen_article_ids.append(i)
                    seen_article_names.append(article_names[article_ids.index(i)])
                    recs.append(i)
                    rec_names.append(article_names[article_ids.index(i)])
            else:
                return recs, rec_names

In [38]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

The top 10 recommendations for user 20 are the following article ids:
[1335.0, 555.0, 1346.0, 1444.0, 1085.0, 1151.0, 1153.0, 686.0, 1150.0, 1154.0]

The top 10 recommendations for user 20 are the following article names:
['ml optimization using cognitive assistant', 'deploy your python model as a restful api', 'apache spark lab, part 1: basic concepts', 'timeseries data analysis of iot events by using jupyter notebook', 'dsx: hybrid mode', 'predicting churn with the spss random tree algorithm', 'analyze energy consumption in buildings', 'ibm watson facebook posts for 2015', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'apache spark lab, part 3: machine learning']

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

This all looks good!  Nice job!

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Given a new user, we would be able to make new recommendations using the rank based approach. But if we have to make use of the user-user approach, if the new user hasn't interacted with any articles, we won't be able to use the user-user approach as all similarities will be 0.
As we have no information regarding the new user's tastes, if we have his background information or information about him, his age, gender etc. we could use those indicators to find similar users. We wcould also use a knowledge based system to get his initial likings and taste and then work from there.**

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [41]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = get_top_article_ids(10) # Your recommendations here